<div class="card">
    <h3 class="card-title" method="put">{title}</h3>
    <div class="card-content">
        <p class="card-content" method="put">{content}</p>
    </div>
    <form method = "post" action = "\delete">
      <input type="hidden" name="id" value="{id}" />
      <button type="submit"class="button">Deletar</button>
    </form>
    <form class="card_edit" method = "post" action = "\edit">
        <div class="update" id = "update">
          <input type="hidden" name="id" value="{id}" />
          <input
              value="{title}"
              name="title"
              class="card-title"
            />
            <textarea
              name="content"
              class="card-content"
            > {content} </textarea>
            <button onclick="change_update()" type="submit" class="button">Confirmar</button>
        </div>
    </form>
    <button onclick="change_update()" type="submit"><i class="button">Editar</button>
    <script type="text/javascript" src="/templates/getit.js"></script>
</div>